@font-face { 
    font-family: 'metropolis'; src: url('../font/metropolis/Metropolis-Regular.otf'); 
} 
@font-face { 
    font-family: 'metropolis-med'; src: url('../font/metropolis/Metropolis-Medium.otf'); 
} 
@font-face { 
    font-family: 'metropolis-bold'; src: url('../font/metropolis/Metropolis-Bold.otf'); 
} 
@font-face { 
    font-family: 'metropolis-black'; src: url('../font/metropolis/Metropolis-Black.otf'); 
} 

@font-face { 
    font-family: 'fs-reg'; src: url('../font/FSMeridian/FSMeridian-Regular.ttf'); 
} 
@font-face { 
    font-family: 'fs-bold'; src: url('../font/FSMeridian/FSMeridian-Bold.ttf'); 
} 
@font-face { 
    font-family: 'fs-med'; src: url('../font/FSMeridian/FSMeridian-Medium.ttf'); 
} 
@font-face { 
    font-family: 'fs-thin'; src: url('../font/FSMeridian/FSMeridian-Thin.ttf'); 
} 

@font-face { 
    font-family: 'poppin-bold'; src: url('../font/poppins/Poppins-Medium.otf'); 
} 

@font-face { 
    font-family: 'poppin'; src: url('../font/poppins/Poppins-Regular.otf'); 
} 

@font-face { 
    font-family: 'lato-regular'; src: url('../font/lato/Lato-Regular.ttf'); 
} 

@font-face { 
    font-family: 'lato-bold'; src: url('../font/lato/Lato-Bold.ttf'); 
} 

@font-face { 
    font-family: 'lato-black'; src: url('../font/lato/Lato-Black.ttf'); 
} 

*{
    margin: 0;
    padding: 0;
    font-family: 'metropolis-med', sans-serif;
    box-sizing: border-box;
}

.navbar{
    background-color: #fff;
    border-radius: 0;
}

.navbar-logo{
    width: 100px;
    height: auto;
    border-radius: 0;
    margin-left: 30px;
}

.navbar a{
    color: #198754;
    transition: .5s ease;
}

.nav-pad{
    padding: 5px 85px !important;
}

.burgermenu{
    color: #198754;
}

.navbar-collapse{
    flex-grow: 0 !important;
} 

.navbar-toggler:focus{
    box-shadow: none !important;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 30px !important;
    text-align: center;
}

.navbar-expand-lg .navbar-nav .nav-link:focus{
    outline: 0;
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
    color:#1b691b;
}

#hero{
    min-height: 100%;
    width: 100%;
    color: #333333;
    position: relative;
    padding-top: 100px;
    margin-bottom: 70px;
}

#banner-image{
    margin: auto;
    width: 93%;
    height: 70vh;
    position: relative;
}

#banner-image img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

#banner-image:after {
    content: '\A';
    position: absolute;
    z-index: 1;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,.25);
    opacity: 1;
    border-radius: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.text-banner{
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #333333;
    text-align: left;
    z-index: 2;
    transition: all cubic-bezier(.66, .51, .02, .98) 2s;
}

.text-banner h1{
    font-size: 70px;
    font-family: 'metropolis-bold', sans-serif;
    color: #fff;
}

.text-banner p{
    font-size: 17px;
    font-family: 'metropolis-med', sans-serif;
    color: #fff;
}

#description{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10px 70px;
    margin-bottom: 60px;
}

#description .logo-img{
    margin: auto;
    width: 100%;
    height: 25vh;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

#description .logo-img img{
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

#description .judul-desc{
    margin-top: 30px;
    font-size: 55px;
    font-family: "metropolis-bold", sans-serif;
    color:#1b691b;
}

#description .sub-desc{
    font-family: "metropolis-reg", sans-serif;
    font-size: 16px;
}

#team-section{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10px 70px;
    margin-bottom: 60px;
}

#team-section .judul-team{
    margin-bottom: 40px;
    font-size: 55px;
    font-family: "metropolis-bold", sans-serif;
    text-align: center;
    color:#1b691b;
}

#team-section .team-image{
    margin: auto;
    width: 90%;
    height: 50vh;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

#team-section .team-image img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

#team-section .team-image:after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%; 
    height:50%;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-70%, -40%);
    transform: translate(-70%, -40%);
    background:rgba(27,105,27, 0.6);
    opacity: 1;
    border-radius: 0;
}

#team-section .team-image h1{
    width: 100%;
    position: absolute;
    bottom: 9%;
    left: 0;
    margin: auto 20px;
    color: #fff;
    font-size: 26px;
    font-family: 'metropolis-black', sans-serif;
    z-index: 2;
}

#team-section .team-image p{
    position: absolute;
    bottom: 3%;
    left: 0;
    margin: auto 20px;
    color: #fff;
    font-size: 18px;
    font-family: 'metropolis', sans-serif;
    transition: all cubic-bezier(.66, .51, .02, .98) 2s;
    z-index: 2;
}

#about-content{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10px 70px;
    background-color: #f6f6f4;
}

#about-content .content-image{
    margin: auto;
    width: 90%;
    height: 50vh;
    margin-bottom: 20px;
    display: block;
}

#about-content .content-image img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

#about-content .content-text{
    width: 70%;
    height: auto;
}

.content-container{
    margin-bottom: 50px;
}

.judul-content{
    margin-top: 30px;
    font-size: 55px;
    font-family: "metropolis-bold", sans-serif;
    color:#1b691b;
}

.desc-content{
    font-family: "metropolis-reg", sans-serif;
    font-size: 16px;
}

footer{
    font-family: "metropolis-bold", sans-serif;
    font-size: 15px;
    color: #2ba62b;
    padding: 0 30px;
    width: 100%;
    height: auto;
    border-radius: 0;
}

#contact{
    width: 100%;
    height: 25vh;
    margin: auto;
    color: #000;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 100px;
}

#contact .contact-logo{
    width: 200px;
    height: auto;
    border-radius: 0;
}

#contact h1{
    font-family: "metropolis-bold", sans-serif;
    margin-bottom: 70px;
}

#contact .judul{
    color: #2ba62b;
    font-family: "metropolis-bold", sans-serif;
}

#contact .sub-judul{
    font-family: "metropolis-regular", sans-serif;
}

.footer .icon-social{
    font-size: 25px;
    margin-right: 15px;
}

.footer .footer-link{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer .footer-link .link-items{
    display: inline-block;
    margin: 0 10px;
}


@media only screen and (max-width: 1200px) {
    .text-banner{
        left: 45%;
    }

    .judul-content{
        font-size: 40px;
    }
    .desc-content{
        font-size: 14px;
    }

    #team-section .team-image h1{
        font-size: 22px;
    }

    #team-section .team-image p{
        font-size: 16px;
    }

    #team-section .judul-team{
        font-size: 40px;
    }

    #team-section .team-image{
        width: 75%;
        height: 40vh;
    }

    #contact .sub-judul{
        font-size: 14px;
    }

}

@media only screen and (max-width: 991px) {
    .text-banner{
        left: 40%;
    }

    .text-banner h1{
        font-size: 45px;
    }

    .text-banner p{
        font-size: 15px;
    }

    .judul-content{
        font-size: 40px;
    }

    .desc-content{
        font-size: 14px;
    }

    #team-section .team-image{
        width: 75%;
        height: 40vh;
    }

    #team-section .judul-team{
        font-size: 40px;
    }

    #team-section .team-image h1{
        font-size: 20px;
    }

    #team-section .team-image p{
        font-size: 15px;
    }

    #contact .judul{
        font-size: 14px;
    }

    #contact .sub-judul{
        font-size: 13px;
    }

    footer{
        font-size: 13px;
    }

    #about-content .content-image{
        display: none;
    }

}

@media only screen and (max-width: 580px) {
    .text-banner{
        width: 90%;
        left: 50%;
        text-align: center;
    }

    .judul-content{
        font-size: 30px;
    }

    .desc-content{
        font-size: 13px;
    }

    #banner-image{
        width: 100%;
    }

    #description{
        width: 100%;
        padding: 10px 40px;
    }

    #description .logo-img{
        height: 18vh;
    }

    #about-content{
        padding: 10px 40px;
    }

    #about-content .content-text{
        width: 100%;
    }

    #team-section{
        padding: 10px 20px;
    }

    #team-section .judul-team{
        font-size: 30px;
        margin-bottom: 15px;
    }

    #contact .contact-logo{
        width: 140px;
    }

    .nav-pad{
        padding: 5px 50px !important;
    }

    #contact{
        margin-top: 20px;
    }

    #contact .judul{
        margin-bottom: 5px;
    }

    #contact .sub-judul{
        font-size: 11px;
    }

    #team-section{
        margin-bottom: 20px;
    }

    footer{
        font-size: 10px;
    }

    .footer .icon-social{
        font-size: 15px;
        margin-right: 0;
    }
   
}