@font-face { 
    font-family: 'fs-reg'; src: url('../font/FSMeridian/FSMeridian-Regular.ttf'); 
} 
@font-face { 
    font-family: 'fs-bold'; src: url('../font/FSMeridian/FSMeridian-Bold.ttf'); 
} 
@font-face { 
    font-family: 'fs-med'; src: url('../font/FSMeridian/FSMeridian-Medium.ttf'); 
} 
@font-face { 
    font-family: 'fs-thin'; src: url('../font/FSMeridian/FSMeridian-Thin.ttf'); 
} 

@font-face { 
    font-family: 'poppin-bold'; src: url('../font/poppins/Poppins-Medium.otf'); 
} 

@font-face { 
    font-family: 'poppin'; src: url('../font/poppins/Poppins-Regular.otf'); 
} 

@font-face { 
    font-family: 'lato-regular'; src: url('../font/lato/Lato-Regular.ttf'); 
} 

@font-face { 
    font-family: 'lato-bold'; src: url('../font/lato/Lato-Bold.ttf'); 
} 

@font-face { 
    font-family: 'lato-black'; src: url('../font/lato/Lato-Black.ttf'); 
}

@font-face { 
    font-family: 'open-reg'; src: url('../font/open-sans/OpenSans-Regular.ttf'); 
} 

@font-face { 
    font-family: 'open-bold'; src: url('../font/open-sans/OpenSans-Bold.ttf'); 
} 

@font-face { 
    font-family: 'open-semi'; src: url('../font/open-sans/OpenSans-Semibold.ttf'); 
}

@font-face { 
    font-family: 'mons-med'; src: url('../font/montserrat/Montserrat-Medium.otf'); 
} 

@font-face { 
    font-family: 'mons-bold'; src: url('../font/montserrat/Montserrat-Bold.otf'); 
} 

@font-face { 
    font-family: 'mons-light'; src: url('../font/montserrat/Montserrat-Light.otf'); 
} 

@font-face {
    font-family: 'mons-black'; src: url('../font/montserrat/Montserrat-Black.otf'); 
} 

*{
    margin: 0;
    padding: 0;
    font-family: 'mons-med', sans-serif;
    box-sizing: border-box;
}

.navbar{
    background-color: #fff;
    border-radius: 0;
}

.navbar-nav{
    font-size: 14px;
}

.navbar-logo{
    width: 100px;
    height: auto;
    border-radius: 0;
    margin-left: 30px;
}

.navbar a{
    color: #198754;
    transition: .5s ease;
}

.nav-pad{
    padding: 5px 85px !important;
}

.burgermenu{
    color: #198754;
}

.navbar-collapse{
    flex-grow: 0 !important;
} 

.navbar-toggler:focus{
    box-shadow: none !important;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 30px !important;
    text-align: center;
}

.navbar-expand-lg .navbar-nav .nav-link:focus{
    outline: 0;
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
    color:#1b691b;
}

#hero{
    min-height: 100%;
    width: 100%;
    color: #333333;
    position: relative;
    padding-top: 100px;
}

#banner-image{
    margin: auto;
    width: 93%;
    height: 60vh;
    position: relative;
}

#banner-image img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

#banner-image:after {
    content: '\A';
    position: absolute;
    z-index: 1;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,.25);
    opacity: 1;
    border-radius: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.text-banner{
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #333333;
    text-align: left;
    z-index: 2;
    transition: all cubic-bezier(.66, .51, .02, .98) 2s;
}

.text-banner h1{
    font-size: 65px;
    font-family: 'mons-bold', sans-serif;
    color: #fff;
}

.text-banner p{
    font-size: 20px;
    font-family: 'mons-light', sans-serif;
    color: #fff;
}

#contact-section{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    margin-bottom: 40px;
}

#contact-section .contact-container{
    width: 93%;
    height: auto;
    margin: auto;
}

.text-banner h1{
    font-size: 50px;
}

.left-contact{
    background-color: #198754;
    height: 100%;
    width: 100%;
    padding: 50px 100px !important;
}

.left-contact .judul{
    color: #fff;
    font-family: 'mons-bold', sans-serif;
    font-size: 45px;
}

.left-contact .sub-judul{
    color: #fff;
    font-family: 'mons-light', sans-serif;
    font-size: 15px;
    margin: 0;
}

.left-contact .label-form{
    color: #fff;
    font-family: 'mons-bold', sans-serif;
}

.right-contact .form-image{
    margin: auto;
    width: 100%;
    height: 100%;
    position: relative;
}

.right-contact .form-image img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 0;
    display: block;
}

footer{
    font-family: "mons-bold", sans-serif;
    font-size: 15px;
    color: #2ba62b;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 0;
}

#contact{
    width: 100%;
    height: 25vh;
    margin: auto;
    color: #000;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 100px;
}

#contact .contact-logo{
    width: 200px;
    height: auto;
    border-radius: 0;
}

#contact h1{
    font-family: "mons-bold", sans-serif;
    margin-bottom: 70px;
}

#contact .judul{
    color: #2ba62b;
    font-family: "mons-bold", sans-serif;
}

#contact .sub-judul{
    font-family: "mons-light", sans-serif;
}

.footer .icon-social{
    font-size: 25px;
    margin-right: 15px;
}

.footer .footer-link{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer .footer-link .link-items{
    display: inline-block;
    margin: 0 10px;
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 991px) {
    .text-banner{
        left: 45%;
    }

    .text-banner h1{
        font-size: 40px;
    }
    

    #banner-image:after{
        background:rgba(0,0,0,.5);
    }

    #contact-section .contact-container{
        height: auto;
    }

    .right-contact .form-image img{
        display: none;
    }

    .left-contact{
        padding: 25px 100px !important
    }

    .left-contact .judul{
        font-size: 35px;
    }

    #contact .judul,
    #contact .sub-judul{
        margin-bottom: 10px;
        font-size: 12px;
    }

    footer{
        font-size: 12px;
    }

    .footer .icon-social{
        font-size: 17px;
    }
}

@media only screen and (max-width: 580px) {
    .text-banner h1{
        font-size: 28px;
    }

    .left-contact .judul{
        font-size: 28px;
    }

    .left-contact .sub-judul{
        font-size: 12px;
    }

    #contact-section .contact-container{
        height: auto;
        width: 100%;
    }

    .left-contact{
        padding: 15px 40px !important;
    }

    #contact .contact-logo{
        width: 100px;
    }

    
    footer{
        font-size: 10px;
    }

    .footer .icon-social{
        font-size: 15px;
        margin-right: 0;
    }
}