@font-face { 
    font-family: 'fs-reg'; src: url('../font/FSMeridian/FSMeridian-Regular.ttf'); 
} 
@font-face { 
    font-family: 'fs-bold'; src: url('../font/FSMeridian/FSMeridian-Bold.ttf'); 
} 
@font-face { 
    font-family: 'fs-med'; src: url('../font/FSMeridian/FSMeridian-Medium.ttf'); 
} 
@font-face { 
    font-family: 'fs-thin'; src: url('../font/FSMeridian/FSMeridian-Thin.ttf'); 
} 

@font-face { 
    font-family: 'poppin-bold'; src: url('../font/poppins/Poppins-Medium.otf'); 
} 

@font-face { 
    font-family: 'poppin'; src: url('../font/poppins/Poppins-Regular.otf'); 
} 

@font-face { 
    font-family: 'lato-regular'; src: url('../font/lato/Lato-Regular.ttf'); 
} 

@font-face { 
    font-family: 'lato-bold'; src: url('../font/lato/Lato-Bold.ttf'); 
} 

@font-face { 
    font-family: 'lato-black'; src: url('../font/lato/Lato-Black.ttf'); 
}

@font-face { 
    font-family: 'open-reg'; src: url('../font/open-sans/OpenSans-Regular.ttf'); 
} 

@font-face { 
    font-family: 'open-bold'; src: url('../font/open-sans/OpenSans-Bold.ttf'); 
} 

@font-face { 
    font-family: 'open-semi'; src: url('../font/open-sans/OpenSans-Semibold.ttf'); 
}

@font-face { 
    font-family: 'mons-med'; src: url('../font/montserrat/Montserrat-Medium.otf'); 
} 

@font-face { 
    font-family: 'mons-bold'; src: url('../font/montserrat/Montserrat-Bold.otf'); 
} 

@font-face { 
    font-family: 'mons-light'; src: url('../font/montserrat/Montserrat-Light.otf'); 
} 

@font-face {
    font-family: 'mons-black'; src: url('../font/montserrat/Montserrat-Black.otf'); 
} 

*{
    margin: 0;
    padding: 0;
    font-family: 'mons-med', sans-serif;
    box-sizing: border-box;
}

#hero{
    min-height: 100%;
    width: 100%;
    color: #333333;
    position: relative;
    padding-top: 80px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.navbar{
    background-color: #fff;
    border-radius: 0;
}

.navbar-nav{
    font-size: 14px;
}

.navbar-logo{
    width: 100px;
    height: auto;
    border-radius: 0;
    margin-left: 30px;
}

.navbar a{
    color: #198754;
    transition: .5s ease;
}

.nav-pad{
    padding: 5px 85px !important;
}

.burgermenu{
    color: #198754;
}

.navbar-collapse{
    flex-grow: 0 !important;
} 

.navbar-toggler:focus{
    box-shadow: none !important;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 30px !important;
    text-align: center;
}

.navbar-expand-lg .navbar-nav .nav-link:focus{
    outline: 0;
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
    color:#1b691b;
}

#banner-container{
    padding: 5px 80px;
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#banner-image{
    padding: 0 10px;
    margin: auto;
    width: 100%;
    height: 90vh;
    margin-bottom: 20px;
    z-index: -1;
    background:rgba(22, 82, 22, 0.3);
    position:relative;
}

#banner-image img{
    object-fit: contain ;
    object-position: center;
    margin: 15% 0;
    width: 100%;
    height: 60%;
    border-radius: 0;
}

#banner-image h1{
    width: 100%;
    position: absolute;
    bottom: 13%;
    left: 0;
    margin: auto 40px;
    color: #fff;
    font-size: 50px;
    font-family: 'mons-bold', sans-serif;
    z-index: 2;
}

#banner-image p{
    position: absolute;
    bottom: 9%;
    left: 0;
    margin: auto 40px;
    color: #fff;
    font-size: 20px;
    font-family: 'mons-light', sans-serif;
    transition: all cubic-bezier(.66, .51, .02, .98) 2s;
    z-index: 2;
}

.text-banner{
    position: absolute;
    top: 40%;
    left: 0;
    color: #fff;
    transition: all cubic-bezier(.66, .51, .02, .98) 2s;
}

.text-banner h1{
    font-family: 'mons-bold', sans-serif;
    font-size: 60px;
    margin-bottom: 0;
}

.text-banner p{
    font-size: 20px;
    font-family: 'mons-light', sans-serif;
}

#new-arrival{
    width: 100%;
    height: 100%;
    overflow:hidden;
    margin-bottom: 70px;
    color: rgb(61, 61, 61);
    background:rgba(205, 143, 92, 0.5);
}
    
#new-arrival .image{
    margin: auto;
    height: 60vh;
    width: auto;
    position: relative;
}

#new-arrival .image img{
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
}

#new-arrival .arrival-text{
    font-family: 'mons-med', sans-serif;
}

#new-arrival .arrival-text .text-top{
    font-size: 20px;
    font-family: 'mons-med', sans-serif;
}

#new-arrival .arrival-text .text-cat{
    font-family: 'mons-med', sans-serif;
}

#new-arrival .arrival-text .text-bot{
    font-size: 50px;
    font-family: 'mons-bold', sans-serif;
}


#listing-product{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10px 70px;
}

#listing-product a{
    text-decoration: none;
    color: #212529;
}

#listing-product .judul{
    font-family: 'mons-med', sans-serif;
    color:#1b691b;
}

#listing-product .sub-judul{
    font-family: 'mons-light', sans-serif;
}

#listing-product .search-section{
    padding: 0 80px;
}

#listing-product .listing-section{
    padding: 0 10px;
}

#listing-product .judul-filter{
    font-size: 18px;
    font-family: 'lato-black', sans-serif;
    color: #333333;
    margin-bottom: 18px;
}

#listing-product .sub-filter{
    font-size: 14px;
    font-family: 'lato-bold', sans-serif;
    color: #6b6b6b;
    margin-bottom: 18px;
}

#listing-product .size-choice{
    border: 1px solid #ccc ;
    padding: 10px;
    width: 40px;
    height: 40px;
    font-size: 13px;
    text-align: center;
    margin-right: 10px;
    transition: .5s ease;
    color: #6b6b6b;
    text-decoration: none;
}

#listing-product .size-choice:hover{
    background-color: gray;
    color: #fff;
}

#listing-product .top-image{
    margin: auto;
    height: 35vh;
    width: auto;
    position: relative;
}

#listing-product .top-image img{
    background-color: #f6f6f4;
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

#listing-product .furni-info{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
}

.furni-info .furni-name{
    font-family: 'fs-reg', sans-serif;
}

.furni-info .furni-cat{
    font-family: 'fs-thin', sans-serif;
    color:#333333;
}


footer{
    font-family: "mons-bold", sans-serif;
    font-size: 15px;
    background-color: #198754;
    color: #fff;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 0;
}

#contact{
    width: 100%;
    height: auto;
    margin: auto;
    color: #000;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 100px;
}

#contact .contact-logo{
    width: 200px;
    height: auto;
    border-radius: 0;
}

#contact h1{
    font-family: "mons-bold", sans-serif;
    margin-bottom: 70px;
}

#contact .judul{
    color: #2ba62b;
    font-family: "mons-bold", sans-serif;
}

#contact .sub-judul{
    font-family: "mons-light", sans-serif;
}

.footer .icon-social{
    font-size: 25px;
    margin-right: 15px;
}

.footer .footer-link{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer .footer-link .link-items{
    display: inline-block;
    margin: 0 10px;
}

@media only screen and (max-width: 1200px) {
    #banner-image h1{
        font-size: 35px;
    }

}

@media only screen and (max-width: 991px) {
    .text-banner h1{
        font-size: 45px;
    }

    #banner-container{
        padding: 5px 20px;
    }

    #banner-image{
        height: 60vh;
    }

    #banner-image h1{
        font-size: 30px;
    }

    #banner-image p{
        font-size: 15px;
    }

    #new-arrival .image{
        height: 40vh;
    }

    #new-arrival .arrival-text{
        padding: 0 30px;
    }

    #new-arrival .arrival-text .text-top{
        margin-bottom: 0 !important;
        font-size: 15px;
    }

    #new-arrival .arrival-text .text-bot{
        font-size: 30px;
    }

    #new-arrival .btn{
        width: 100% !important;
        margin-bottom: 20px;
    }

    #listing-product{
        padding: 10px 40px;
    }

}

@media only screen and (max-width: 580px) {
    html,body
    {
        overflow-x: hidden; 
    }

    .nav-pad{
        padding: 5px 50px !important;
    }

    #contact{
        margin-top: 20px;
        margin-bottom: 0;
    }

    #contact .judul{
        margin-bottom: 5px;
    }

    #contact .sub-judul{
        font-size: 11px;
    }

    #contact .contact-logo{
        width: 140px;
    }

    footer{
        font-size: 12px !important;
    }

    .footer .icon-social{
        font-size: 15px;
        margin-right: 0;
    }
}