@font-face { 
    font-family: 'open-sans'; src: url('../font/open-sans/OpenSans-Regular.ttf'); 
} 
@font-face { 
    font-family: 'open-semi'; src: url('../font/open-sans/OpenSans-Semibold.ttf'); 
} 
@font-face { 
    font-family: 'open-bold'; src: url('../font/open-sans/OpenSans-Bold.ttf'); 
} 

@font-face { 
    font-family: 'poppin-bold'; src: url('../font/poppins/Poppins-Medium.otf'); 
} 

@font-face { 
    font-family: 'poppin'; src: url('../font/poppins/Poppins-Regular.otf'); 
} 

@font-face { 
    font-family: 'lato-regular'; src: url('../font/lato/Lato-Regular.ttf'); 
} 

@font-face { 
    font-family: 'lato-bold'; src: url('../font/lato/Lato-Bold.ttf'); 
} 

@font-face { 
    font-family: 'lato-black'; src: url('../font/lato/Lato-Black.ttf'); 
} 

*{
    margin: 0;
    padding: 0;
    font-family: 'lato-bold', sans-serif;
    box-sizing: border-box;
    border-radius: 20px;
}

#hero{
    min-height: 100%;
    width: 100%;
    color: #333333;
    position: relative;
    padding-top: 80px;
}

.navbar{
    background-color: #fff;
    border-radius: 0;
}

.navbar a{
    color:#333333;
}

.nav-pad{
    padding: 5px 85px !important;
}

.burgermenu{
    color:#333333;
}

.navbar-collapse{
    flex-grow: 0 !important;
} 

.navbar-toggler:focus{
    box-shadow: none !important;
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
    color:#333333;
}

#banner-image{
    margin: auto;
    width: 93%;
    height: 90vh;
    z-index: -1;
}

#banner-image img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

/* .text-banner{
    
} */
.text-banner{
    position: absolute;
    top: 40%;
    left: 10%;
    color: #fff;
    font-family: 'lato-black', sans-serif;
    transition: all cubic-bezier(.66, .51, .02, .98) 2s;
}

.text-banner h1{
    font-size: 50px;
}

.text-banner p{
    font-size: 17px;
    font-family: 'lato-bold', sans-serif;
}

#deals{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 40px;
}

#deals .banner-image{
    width: 100%;
    height: 30vh;
    padding: 0 40px;
    position: relative;
}

#deals .banner-image img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

#deals .banner-image h1{
    position: absolute;
    bottom: 10%;
    left: 12%;
    color: #fff;
    font-size: 35px;
    font-family: 'lato-black', sans-serif;
    transition: all cubic-bezier(.66, .51, .02, .98) 2s;
}

#deals .banner-image p{
    position: absolute;
    bottom: 23%;
    left: 12%;
    color: #fff;
    font-size: 20px;
    font-family: 'lato-regular', sans-serif;
    transition: all cubic-bezier(.66, .51, .02, .98) 2s;
}

#top-picks{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10px 70px;
}

#top-picks .judul{
    font-family: 'poppin-bold', sans-serif;
    text-align: center;
    color:#333333;
    font-size: 35px;
}

#top-picks .sub-judul{
    text-align: center;
    color: #666666;
    font-family: 'lato-regular', sans-serif;
}

#top-picks .top-image{
    margin: auto;
    height: 35vh;
    width: auto;
    position: relative;
}

#top-picks .top-image img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

#top-picks .furni-info{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
}

.furni-info .furni-name{
    font-family: 'lato-regular', sans-serif;
}

.furni-info .furni-price{
    font-family: 'lato-bold', sans-serif;
    color:#333333;
}

#new-arrival{
    width: 93%;
    height: 60vh;
    margin: auto;
    color: #fff;
    background: #c5c6c8;
}

#new-arrival .image{
    margin: auto;
    height: 60vh;
    width: auto;
    position: relative;
    padding: 50px;
}

#new-arrival .image img{
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
}

#new-arrival .arrival-text{
    font-family: 'lato-bold', sans-serif;
}

#new-arrival .arrival-text .text-top,
#new-arrival .arrival-text .text-price{
    font-size: 20px;
}

#new-arrival .arrival-text .text-bot{
    font-size: 50px;
}


#services{
    width: 93%;
    height: auto;
    margin: auto;
    margin-top: 90px;
}

#services h1{
    font-family: "lato-bold", sans-serif;
    font-size: 27px;
}

#services p{
    font-family: "lato-regular", sans-serif;
    font-size: 16px;
    color: #7a7a7a;
}

#services .card{
    border-radius: 20px;
    border: 0;
}

#contact{
    width: 100%;
    height: 25vh;
    margin: auto;
    color: #000;
    border-radius: 0;
    margin-bottom: 40px;
    margin-top: 100px;
}

#contact h1{
    font-family: "lato-bold", sans-serif;
    margin-bottom: 70px;
}

#contact .judul{
    font-family: "lato-bold", sans-serif;
}

#contact .sub-judul{
    font-family: "lato-regular", sans-serif;
}


.footer{
    font-family: "poppin-bold", sans-serif;
    font-size: 15px;
    color: #636c72;
    padding: 0 30px;
    width: 100%;
    height: auto;
    border-radius: 0;
}

.footer .icon-social{
    font-size: 25px;
    margin-right: 15px;
}

.footer .footer-link{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer .footer-link .link-items{
    display: inline-block;
    margin: 0 10px;
}



