@font-face { 
    font-family: 'poppin-bold'; src: url('../font/poppins/Poppins-Medium.otf'); 
} 

@font-face { 
    font-family: 'poppin'; src: url('../font/poppins/Poppins-Regular.otf'); 
} 

@font-face { 
    font-family: 'lato-regular'; src: url('../font/lato/Lato-Regular.ttf'); 
} 

@font-face { 
    font-family: 'lato-bold'; src: url('../font/lato/Lato-Bold.ttf'); 
} 

@font-face { 
    font-family: 'lato-black'; src: url('../font/lato/Lato-Black.ttf'); 
} 

@font-face { 
    font-family: 'open-reg'; src: url('../font/open-sans/OpenSans-Regular.ttf'); 
} 

@font-face { 
    font-family: 'open-bold'; src: url('../font/open-sans/OpenSans-Bold.ttf'); 
} 

@font-face { 
    font-family: 'open-semi'; src: url('../font/open-sans/OpenSans-Semibold.ttf'); 
}

@font-face { 
    font-family: 'mons-med'; src: url('../font/montserrat/Montserrat-Medium.otf'); 
} 

@font-face { 
    font-family: 'mons-bold'; src: url('../font/montserrat/Montserrat-Bold.otf'); 
} 

@font-face { 
    font-family: 'mons-light'; src: url('../font/montserrat/Montserrat-Light.otf'); 
} 

@font-face { 
    font-family: 'mons-black'; src: url('../font/montserrat/Montserrat-Black.otf'); 
} 

*{
    margin: 0;
    padding: 0;
    font-family: 'mons-med', sans-serif;
    box-sizing: border-box;
}

#hero{
    min-height: 100%;
    width: 100%;
    color: #333333;
    position: relative;
    padding-top: 80px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.navbar{
    background-color: #fff;
    border-radius: 0;
}

.navbar-nav{
    font-size: 14px;
}

.navbar-logo{
    width: 100px;
    height: auto;
    border-radius: 0;
    margin-left: 30px;
}

.navbar a{
    color: #198754;
    transition: .5s ease;
}

.nav-pad{
    padding: 5px 85px !important;
}

.burgermenu{
    color: #198754;
}

.navbar-collapse{
    flex-grow: 0 !important;
} 

.navbar-toggler:focus{
    box-shadow: none !important;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 30px !important;
    text-align: center;
}

.navbar-expand-lg .navbar-nav .nav-link:focus{
    outline: 0;
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
    color:#1b691b;
}

#banner-image{
    padding-top: 20px;
    margin: auto;
    width: 97%;
    height: 90vh;
    z-index: -1;
}

#banner-image img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

/* .text-banner{
    
} */
.text-banner{
    position: absolute;
    top: 40%;
    left: 0;
    color: #fff;
    transition: all cubic-bezier(.66, .51, .02, .98) 2s;
}

.text-banner h1{
    font-family: 'mons-bold', sans-serif;
    font-size: 60px;
    margin-bottom: 0;
}

#image-gallery{
    min-height: 100%;
    width: 100%;
    color: #1d2026;
    position: relative;
}

.portfolio-item{
    width: 97%;
    height: auto; 
}

.portfolio-item .item{
    display: none;
}

.thumbnail {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.thumbnail img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
}
.thumbnail:hover img {
    -webkit-transform: scale(1.05,1.05);
    -moz-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
}
.thumbnail:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #000;
    background: rgba(0,0,0,0.3);
    z-index: 2;
    opacity: 0;
    -moz-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}
.thumbnail:hover:before {
    opacity: 1;
}

.more-text{
    font-family: "mons-light";
    margin: 10px 0;
    font-size: 20px;
}

#contact{
    width: 100%;
    height: 25vh;
    margin: auto;
    color: #000;
    border-radius: 0;
    margin-bottom: 40px;
    margin-top: 100px;
}

#contact .contact-logo{
    width: 200px;
    height: auto;
    border-radius: 0;
}

#contact h1{
    font-family: "mons-bold", sans-serif;
    margin-bottom: 70px;
}

#contact .judul{
    color: #2ba62b;
    font-family: "mons-bold", sans-serif;
}

#contact .sub-judul{
    font-family: "mons-light", sans-serif;
}


.footer{
    font-family: "mons-light", sans-serif;
    font-size: 15px;
    color: #2ba62b;
    padding: 0 30px;
    width: 100%;
    height: auto;
    border-radius: 0;
}

.footer .icon-social{
    font-size: 25px;
    margin-right: 15px;
}

.footer .footer-link{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer .footer-link .link-items{
    display: inline-block;
    margin: 0 10px;
}

@media only screen and (max-width: 1200px) {
    #weare{
        margin-top: 50px;
        margin-bottom: 50px;
        padding:0;
    }

    #weare h1{
        font-size: 35px;
    }

    #weare p{
        font-size: 16px;
    }

    #desc{
        padding: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #desc .judul{
        margin-top: 30px;
        margin-bottom: 10px !important;
        font-size: 30px;
    }

    #desc .sub-judul{
        font-size: 15px;
    }

    #project{
        padding: 0;
    }

    .top-image .text-image h1{
        font-size: 30px;
    }

    .top-image .text-image p{
        font-size: 15px;
        padding: 0 !important;
    }

    #top-picks .judul{
        font-size: 30px;    
    }

    #top-picks .sub-judul{
        font-size: 16px;
    }

}

@media only screen and (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .nav-link{
        padding: 0 !important;
        margin: 5px 0 !important;
    }

    .text-banner h1{
        font-size: 45px;
    }

    #desc{
        padding: 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #desc .judul{
        margin-top: 30px;
        margin-bottom: 10px !important;
        font-size: 25px;
        text-align: center;
    }

    #desc .sub-judul{
        font-size: 15px;
        padding: 0 10px;
    }

    #desc .desc-btn{
        margin: 0 15px;
        padding: 10px !important;
    }

    #project{
        padding: 0;
    }

    .top-image .text-image h1{
        font-size: 30px;
    }

    .top-image .text-image p{
        font-size: 15px;
        padding: 0 !important;
    }

    #top-picks .judul{
        font-size: 30px;    
    }

    #top-picks .sub-judul{
        font-size: 16px;
    }

}

@media only screen and (max-width: 580px) {
    html,body
    {
        overflow-x: hidden; 
    }

    .text-banner h1{
        font-size: 30px;
    }

    #banner-image{
        height: 70vh;
        width: 100%;
    }

    #weare{
        margin-top: 50px;
        margin-bottom: 50px;
        padding:0 40px;
    }

    #weare h1{
        font-size: 25px;
    }

    #weare p{
        font-size: 15px;
    }

    #desc{
        padding: 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #desc .judul{
        margin-top: 30px;
        margin-bottom: 10px !important;
        font-size: 25px;
        text-align: center;
    }

    #desc .sub-judul{
        font-size: 15px;
        padding: 0 10px;
    }

    #desc .desc-btn{
        margin: 0 15px;
        padding: 10px !important;
    }

    #project{
        padding: 0;
    }

    .top-image .text-image{
        text-align: left !important;
    }

    .top-image .text-image h1{
        font-size: 30px;
    }

    .top-image .text-image p{
        font-size: 15px;
        padding: 0 !important;
    }

    #top-picks{
        padding: 0 30px;
    }

    #top-picks .judul{
        font-size: 25px;    
    }

    #top-picks .sub-judul{
        font-size: 16px;
    }

    #top-picks .btn{
        width: 100% !important;
    }

    .nav-pad{
        padding: 5px 50px !important;
    }

    #contact{
        margin-top: 20px;
        margin-bottom: 0;
    }

    #contact .judul{
        margin-bottom: 5px;
    }

    #contact .sub-judul{
        font-size: 11px;
    }

    #contact .contact-logo{
        width: 140px;
    }

    footer{
        font-size: 12px !important;
    }

    .footer .icon-social{
        font-size: 15px;
        margin-right: 0;
    }
}