@font-face { 
    font-family: 'poppin'; src: url('../font/poppins/Poppins-Regular.otf'); 
} 

@font-face { 
    font-family: 'lato-regular'; src: url('../font/lato/Lato-Regular.ttf'); 
} 

@font-face { 
    font-family: 'lato-bold'; src: url('../font/lato/Lato-Bold.ttf'); 
} 

@font-face { 
    font-family: 'lato-black'; src: url('../font/lato/Lato-Black.ttf'); 
}

@font-face { 
    font-family: 'open-reg'; src: url('../font/open-sans/OpenSans-Regular.ttf'); 
} 

@font-face { 
    font-family: 'open-bold'; src: url('../font/open-sans/OpenSans-Bold.ttf'); 
} 

@font-face { 
    font-family: 'open-semi'; src: url('../font/open-sans/OpenSans-Semibold.ttf'); 
}


@font-face { 
    font-family: 'mons-med'; src: url('../font/montserrat/Montserrat-Medium.otf'); 
} 

@font-face { 
    font-family: 'mons-bold'; src: url('../font/montserrat/Montserrat-Bold.otf'); 
} 

@font-face { 
    font-family: 'mons-light'; src: url('../font/montserrat/Montserrat-Light.otf'); 
} 

@font-face {
    font-family: 'mons-black'; src: url('../font/montserrat/Montserrat-Black.otf'); 
} 

*{
    margin: 0;
    padding: 0;
    font-family: 'mons-med', sans-serif;
    box-sizing: border-box;
    border-radius: 20px;
}

#hero{
    min-height: 100%;
    width: 100%;
    color: #333333;
    position: relative;
    padding-top: 100px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.navbar{
    background-color: #fff;
    border-radius: 0;
}

.navbar-nav{
    font-size: 14px;
}

.navbar-logo{
    width: 100px;
    height: auto;
    border-radius: 0;
    margin-left: 30px;
}

.navbar a{
    color: #198754;
    transition: .5s ease;
}

.nav-pad{
    padding: 5px 85px !important;
}

.burgermenu{
    color: #198754;
}

.navbar-collapse{
    flex-grow: 0 !important;
} 

.navbar-toggler:focus{
    box-shadow: none !important;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 30px !important;
    text-align: center;
}

.navbar-expand-lg .navbar-nav .nav-link:focus{
    outline: 0;
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
    color:#1b691b;
}

#banner-image{
    padding-top: 20px;
    margin: auto;
    width: 93%;
    height: 90vh;
    z-index: -1;
}

#banner-image img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

/* .text-banner{
    
} */
.text-banner{
    position: absolute;
    top: 40%;
    left: 0;
    color: #fff;
    transition: all cubic-bezier(.66, .51, .02, .98) 2s;
}

.text-banner h1{
    font-family: 'mons-bold', sans-serif;
    font-size: 70px;
    margin-bottom: 0;
}

.text-banner p{
    font-size: 20px;
    font-family: 'mons-light', sans-serif;
}

#deals{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 40px;
}

.deals-image{
    width: 87%;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.deals-image img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
}

.deals-image:hover img {
    -webkit-transform: scale(1.05,1.05);
    -moz-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
}

.deals-image:after {
    content:'';
    position:absolute;
    width:100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.3);
    opacity:0;
    border-radius: 20px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.deals-image:hover:after {
    opacity:1;
}

.deals-image h1{
    position: absolute;
    bottom: 10%;
    left: 12%;
    color: #fff;
    font-size: 35px;
    font-family: 'mons-bold', sans-serif;
    transition: all cubic-bezier(.66, .51, .02, .98) 2s;
    z-index: 2;
}

.deals-image p{
    position: absolute;
    bottom: 23%;
    left: 12%;
    color: #fff;
    font-size: 20px;
    font-family: 'mons-light', sans-serif;
    transition: all cubic-bezier(.66, .51, .02, .98) 2s;
    z-index: 2;
}

#top-picks{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10px 70px;
}

#top-picks .judul{
    font-family: 'mons-bold', sans-serif;
    text-align: center;
    color:#333333;
    font-size: 35px;
}

#top-picks .sub-judul{
    text-align: center;
    color: #666666;
    font-size: 18px;
    font-family: 'mons-light', sans-serif;
}

#top-picks .top-image{
    margin: auto;
    height: 35vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: auto;
}

#top-picks .top-image img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
}

.top-image:hover img {
    -webkit-transform: scale(1.05,1.05);
    -moz-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
}

.top-image:after {
    content:'';
    position:absolute;
    width:100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.3);
    opacity:0;
    border-radius: 20px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.top-image:hover:after {
    opacity:1;
}

#top-picks .furni-info{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
}

.furni-info .furni-name{
    font-family: 'lato-regular', sans-serif;
}

.furni-info .furni-price{
    font-family: 'lato-bold', sans-serif;
    color:#333333;
}

#new-arrival{
    width: 93%;
    height: 60vh;
    margin: auto;
    color: #fff;
    background: #c5c6c8;
}

#new-arrival .image{
    margin: auto;
    height: 60vh;
    width: auto;
    position: relative;
    padding: 50px;
}

#new-arrival .image img{
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
}

#new-arrival .arrival-text{
    font-family: 'mons-bold', sans-serif;
}

#new-arrival .arrival-text .text-top,
#new-arrival .arrival-text .text-price{
    font-size: 20px;
    font-family: 'mons-bold', sans-serif;
}

#new-arrival .arrival-text .text-bot{
    font-size: 50px;
    font-family: 'mons-bold', sans-serif;
}


#services{
    width: 93%;
    height: auto;
    margin: auto;
    margin-top: 90px;
}

#services h1{
    font-family: "mons-bold", sans-serif;
    font-size: 27px;
}

#services p{
    font-family: "mons-light", sans-serif;
    font-size: 16px;
    color: #7a7a7a;
}

#services .card{
    border-radius: 20px;
    border: 0;
}

footer{
    font-family: "mons-bold", sans-serif;
    font-size: 15px;
    background-color: #198754;
    color: #fff;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 0;
}

#contact{
    width: 100%;
    height: 25vh;
    margin: auto;
    color: #000;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 100px;
}

#contact .contact-logo{
    width: 200px;
    height: auto;
    border-radius: 0;
}

#contact h1{
    font-family: "mons-bold", sans-serif;
    margin-bottom: 70px;
}

#contact .judul{
    color: #2ba62b;
    font-family: "mons-bold", sans-serif;
}

#contact .sub-judul{
    font-family: "mons-light", sans-serif;
}

.footer .icon-social{
    font-size: 25px;
    margin-right: 15px;
}

.footer .footer-link{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer .footer-link .link-items{
    display: inline-block;
    margin: 0 10px;
}

@media only screen and (max-width: 1200px) {
    #weare{
        margin-top: 50px;
        margin-bottom: 50px;
        padding:0;
    }

    #weare h1{
        font-size: 35px;
    }

    #weare p{
        font-size: 16px;
    }

    #desc{
        padding: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #desc .judul{
        margin-top: 30px;
        margin-bottom: 10px !important;
        font-size: 30px;
    }

    #desc .sub-judul{
        font-size: 15px;
    }

    #project{
        padding: 0;
    }

    .top-image .text-image h1{
        font-size: 30px;
    }

    .top-image .text-image p{
        font-size: 15px;
        padding: 0 !important;
    }

    #top-picks .judul{
        font-size: 30px;    
    }

    #top-picks .sub-judul{
        font-size: 16px;
    }

}

@media only screen and (max-width: 991px) {
    .text-banner h1{
        font-size: 45px;
    }

    #desc{
        padding: 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #desc .judul{
        margin-top: 30px;
        margin-bottom: 10px !important;
        font-size: 25px;
        text-align: center;
    }

    #desc .sub-judul{
        font-size: 15px;
        padding: 0 10px;
    }

    #desc .desc-btn{
        margin: 0 15px;
        padding: 10px !important;
    }

    #project{
        padding: 0;
    }

    .top-image .text-image h1{
        font-size: 30px;
    }

    .top-image .text-image p{
        font-size: 15px;
        padding: 0 !important;
    }

    #top-picks .judul{
        font-size: 30px;    
    }

    #top-picks .sub-judul{
        font-size: 16px;
    }

}

@media only screen and (max-width: 766px) {

    #new-arrival{
        height: auto;
    }

    #new-arrival .arrival-text{
        padding: 0 30px;
    }

    #new-arrival .btn{
        margin-bottom: 20px;
        width: 100% !important;
    }

}

@media only screen and (max-width: 580px) {
    html,body
    {
        overflow-x: hidden; 
    }

    * {
        border-radius: 0 !important;
    }

    #deals{
        padding: 20px;
    }

    .text-banner{
        left: 0 !important;
    }

    .text-banner h1{
        font-size: 30px;
        text-align: center;
    }

    .text-banner p{
        font-size: 15px;
        text-align: center;
    }

    #banner-image{
        height: 70vh;
        width: 100%;
    }

    #weare{
        margin-top: 50px;
        margin-bottom: 50px;
        padding:0 40px;
    }

    #weare h1{
        font-size: 25px;
    }

    #weare p{
        font-size: 15px;
    }

    #desc{
        padding: 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #desc .judul{
        margin-top: 30px;
        margin-bottom: 10px !important;
        font-size: 25px;
        text-align: center;
    }

    #desc .sub-judul{
        font-size: 15px;
        padding: 0 10px;
    }

    #desc .desc-btn{
        margin: 0 15px;
        padding: 10px !important;
    }

    #project{
        padding: 0;
    }

    .top-image .text-image{
        text-align: left !important;
    }

    .top-image .text-image h1{
        font-size: 30px;
    }

    .top-image .text-image p{
        font-size: 15px;
        padding: 0 !important;
    }

    #top-picks{
        padding: 0 30px;
    }

    #top-picks .judul{
        font-size: 25px;    
    }

    #top-picks .sub-judul{
        font-size: 16px;
    }

    #top-picks .btn{
        width: 100% !important;
    }

    .nav-pad{
        padding: 5px 50px !important;
    }

    #contact{
        margin-top: 20px;
        margin-bottom: 0;
    }

    #contact .judul{
        margin-bottom: 5px;
    }

    #contact .sub-judul{
        font-size: 11px;
    }

    #contact .contact-logo{
        width: 140px;
    }

    footer{
        font-size: 12px !important;
    }

    .footer .icon-social{
        font-size: 15px;
        margin-right: 0;
    }
}



