@font-face { 
    font-family: 'metropolis'; src: url('../font/metropolis/Metropolis-Regular.otf'); 
} 
@font-face { 
    font-family: 'metropolis-med'; src: url('../font/metropolis/Metropolis-Medium.otf'); 
} 
@font-face { 
    font-family: 'metropolis-bold'; src: url('../font/metropolis/Metropolis-Bold.otf'); 
} 
@font-face { 
    font-family: 'metropolis-black'; src: url('../font/metropolis/Metropolis-Black.otf'); 
} 

@font-face { 
    font-family: 'poppin-bold'; src: url('../font/poppins/Poppins-Medium.otf'); 
} 

@font-face { 
    font-family: 'poppin'; src: url('../font/poppins/Poppins-Regular.otf'); 
} 

@font-face { 
    font-family: 'lato-regular'; src: url('../font/lato/Lato-Regular.ttf'); 
} 

@font-face { 
    font-family: 'lato-bold'; src: url('../font/lato/Lato-Bold.ttf'); 
} 

@font-face { 
    font-family: 'lato-black'; src: url('../font/lato/Lato-Black.ttf'); 
} 

@font-face { 
    font-family: 'jose-bold'; src: url('../font/josefin-sans/JosefinSans-Bold.ttf'); 
} 

@font-face { 
    font-family: 'open-reg'; src: url('../font/open-sans/OpenSans-Regular.ttf'); 
} 

@font-face { 
    font-family: 'open-bold'; src: url('../font/open-sans/OpenSans-Bold.ttf'); 
} 

@font-face { 
    font-family: 'open-semi'; src: url('../font/open-sans/OpenSans-Semibold.ttf'); 
} 

*{
    margin: 0;
    padding: 0;
    font-family: 'open-reg', sans-serif;
    box-sizing: border-box;
}

#hero{
    min-height: 100%;
    width: 100%;
    color: #333333;
    position: relative;
    padding-top: 80px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.navbar{
    background-color: #fff;
    border-radius: 0;
}

.navbar-nav{
    font-size: 14px;
}

.navbar-logo{
    width: 100px;
    height: auto;
    border-radius: 0;
    margin-left: 30px;
}

.navbar a{
    color: #198754;
    transition: .5s ease;
}

.nav-pad{
    padding: 5px 85px !important;
}

.burgermenu{
    color: #198754;
}

.navbar-collapse{
    flex-grow: 0 !important;
} 

.navbar-toggler:focus{
    box-shadow: none !important;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 30px !important;
    text-align: center;
}

.navbar-expand-lg .navbar-nav .nav-link:focus{
    outline: 0;
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
    color:#1b691b;
}

#banner-image{
    padding-top: 20px;
    margin: auto;
    width: 93%;
    height: 90vh;
    z-index: -1;
}

#banner-image img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

/* .text-banner{
    
} */
.text-banner{
    position: absolute;
    top: 40%;
    left: 0;
    color: #fff;
    transition: all cubic-bezier(.66, .51, .02, .98) 2s;
}

.text-banner h1{
    font-family: 'open-bold', sans-serif;
    font-size: 60px;
    margin-bottom: 0;
}

.text-banner p{
    font-size: 20px;
    font-family: 'open-semi', sans-serif;
}

#weare{
    width: 100%;
    height: 100%;
    margin-top: 120px;
    margin-bottom: 120px;
    padding: 0 20px;
}

#weare h1{
    font-family: 'open-semi', sans-serif;
    color: #198754;
    font-size: 45px;
}

#weare p{
    font-size: 20px;
    margin-top: 10px;
}

#weare hr {
    border: none;
    height: 3px;
    width: 40%;
    margin: auto;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

#desc{
    width: 100%;
    height: 100%;
    margin-bottom: 150px;
    padding: 0 150px;
}

#desc .judul{
    font-family: 'open-semi', sans-serif;
    font-size: 40px;
    color: #198754;
}

#desc .sub-judul{
    font-family: 'open-reg', sans-serif;
    font-size: 18px;
   
}

#desc .desc-btn{
    margin-right: 20px;
}

#desc .desc-image{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#desc .desc-image img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

#project{
    width: 100%;
    height: 100%;
    margin-bottom: 125px;
    padding: 0 70px;
    overflow-x: hidden;
    border-radius: 0;
}

#project .top-image{
    margin: auto;
    width: 100%;
    height: 100%;
    position: relative;
}

#project .top-image img{
    width: 100%;
    height: 60vh;
    border-radius: 0;
}

.top-image:after {
    object-fit: contain;
    object-position: center;
    content:'';
    position:absolute;
    width:100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(32, 73, 38, 0.85);
    opacity: 1;
}

.top-image .text-image{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 2;
    width: 75%;
}

.top-image .text-image h1{
    font-size: 40px;
    font-family: 'open-semi', sans-serif;
}

.top-image .text-image p{
    font-size: 18px;
    font-family: 'open-reg', sans-serif;
}

#top-picks{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10px 70px;
}

#top-picks .judul{
    font-family: 'open-semi', sans-serif;
    text-align: center;
    color: #198754;
    font-size: 35px;
}

#top-picks .sub-judul{
    text-align: center;
    color: #666666;
    font-size: 18px;
    font-family: 'open', sans-serif;
}

#top-picks .picks-image{
    margin: auto;
    height: 35vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: auto;
}

#top-picks .picks-image img{
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
    background-color: #f6f6f4;
}

.picks-image:hover img {
    -webkit-transform: scale(1.05,1.05);
    -moz-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
}

.picks-image:after {
    content:'';
    position:absolute;
    width:100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.3);
    opacity:0;
    border-radius: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.picks-image:hover:after {
    opacity:1;
}

#top-picks .furni-info{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
}

.furni-info .furni-name{
    font-family: 'open-reg', sans-serif;
}

.furni-info .furni-price{
    font-family: 'open-semi', sans-serif;
    color:#333333;
}

#contact{
    width: 100%;
    height: 25vh;
    margin: auto;
    color: #000;
    border-radius: 0;
    margin-bottom: 40px;
    margin-top: 100px;
}

#contact .contact-logo{
    width: 200px;
    height: auto;
    border-radius: 0;
}

#contact h1{
    font-family: "open-semi", sans-serif;
    margin-bottom: 70px;
}

#contact .judul{
    color: #2ba62b;
    font-family: "open-semi", sans-serif;
}

#contact .sub-judul{
    font-family: "open-reg", sans-serif;
}


.footer{
    font-family: "open-semi", sans-serif;
    font-size: 15px;
    color: #2ba62b;
    padding: 0 30px;
    width: 100%;
    height: auto;
    border-radius: 0;
}

.footer .icon-social{
    font-size: 25px;
    margin-right: 15px;
}

.footer .footer-link{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer .footer-link .link-items{
    display: inline-block;
    margin: 0 10px;
}

@media only screen and (max-width: 1200px) {
    #weare{
        margin-top: 50px;
        margin-bottom: 50px;
        padding:0;
    }

    #weare h1{
        font-size: 35px;
    }

    #weare p{
        font-size: 16px;
    }

    #desc{
        padding: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #desc .judul{
        margin-top: 30px;
        margin-bottom: 10px !important;
        font-size: 30px;
    }

    #desc .sub-judul{
        font-size: 15px;
    }

    #project{
        padding: 0;
    }

    .top-image .text-image h1{
        font-size: 30px;
    }

    .top-image .text-image p{
        font-size: 15px;
        padding: 0 !important;
    }

    #top-picks .judul{
        font-size: 30px;    
    }

    #top-picks .sub-judul{
        font-size: 16px;
    }

}

@media only screen and (max-width: 991px) {
    .text-banner h1{
        font-size: 45px;
    }

    #desc{
        padding: 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #desc .judul{
        margin-top: 30px;
        margin-bottom: 10px !important;
        font-size: 25px;
        text-align: center;
    }

    #desc .sub-judul{
        font-size: 15px;
        padding: 0 10px;
    }

    #desc .desc-btn{
        margin: 0 15px;
        padding: 10px !important;
    }

    #project{
        padding: 0;
    }

    .top-image .text-image h1{
        font-size: 30px;
    }

    .top-image .text-image p{
        font-size: 15px;
        padding: 0 !important;
    }

    #top-picks .judul{
        font-size: 30px;    
    }

    #top-picks .sub-judul{
        font-size: 16px;
    }

}

@media only screen and (max-width: 580px) {
    html,body
    {
        overflow-x: hidden; 
    }

    .text-banner h1{
        font-size: 30px;
    }

    #banner-image{
        height: 70vh;
        width: 100%;
    }

    #weare{
        margin-top: 50px;
        margin-bottom: 50px;
        padding:0 40px;
    }

    #weare h1{
        font-size: 25px;
    }

    #weare p{
        font-size: 15px;
    }

    #desc{
        padding: 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #desc .judul{
        margin-top: 30px;
        margin-bottom: 10px !important;
        font-size: 25px;
        text-align: center;
    }

    #desc .sub-judul{
        font-size: 15px;
        padding: 0 10px;
    }

    #desc .desc-btn{
        margin: 0 15px;
        padding: 10px !important;
    }

    #project{
        padding: 0;
    }

    .top-image .text-image{
        text-align: left !important;
    }

    .top-image .text-image h1{
        font-size: 30px;
    }

    .top-image .text-image p{
        font-size: 15px;
        padding: 0 !important;
    }

    #top-picks{
        padding: 0 30px;
    }

    #top-picks .judul{
        font-size: 25px;    
    }

    #top-picks .sub-judul{
        font-size: 16px;
    }

    #top-picks .btn{
        width: 100% !important;
    }

    .nav-pad{
        padding: 5px 50px !important;
    }

    #contact{
        margin-top: 20px;
        margin-bottom: 0;
    }

    #contact .judul{
        margin-bottom: 5px;
    }

    #contact .sub-judul{
        font-size: 11px;
    }

    #contact .contact-logo{
        width: 140px;
    }

    footer{
        font-size: 12px !important;
    }

    .footer .icon-social{
        font-size: 15px;
        margin-right: 0;
    }
}



